.App {
    text-align: center;
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
}

table {
    margin: auto;
}

.table thead th {
    vertical-align: top !important;
}

.tabulation {
    font-size: 0.8rem;
    overflow: auto;
}

.profit {
    background-color: #6aa84f;
}

.loss {
    background-color: red;
}

.true-profit {
    background-color: #1fb714;
}

.total {
    font-size: medium;
    font-weight: 500;
}